* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
 1.  flex => .parent
 2.  display: flex;
 3. flex-direction: column;




 x = row
 y = column

*/

.parent {
    display: flex;
    margin: 80px auto;
    max-width: 800px;
    height: 200px;
    background: #4b0071;
}

.child {
    width: 100px;
    height: 100px;
    color: #fff;
    text-align: center;
    line-height: 100px;
    background: #00aca3;
}